.tituloListagem {
    margin-left: 20px;
}

.listaAlunos {
    text-align: left;
    width:97%;
    margin-left: 20px;
    font-family:
    'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande'
}

.cabecTabela {
    color: white;
    background-color: black;
    font-size: 30px;
    text-align: left;
}

th, td {
    padding: 10px;
}

.tabTituloRa {
    width: 100px;
}

.tabTituloNome {
    width: 800px;
}